h1,
h2 {
  text-align: center;
}

#chart-frame {
  display: inline-flex;
  flex-direction: row;
  border: 3px solid;
  padding: 10px;
  position: relative;
  height: 300px;
}

.bar {

  background-color: blue;
  margin: 0.25em;
  margin-top: auto;
  text-align: center;
  width: 3em;
  display: flex;
  align-items: center;

}

.bar p {
  display: inline;
  vertical-align: middle;
  margin: auto;
  width: auto;
  padding: 0.125em;
  background-color: white;
}
