h1,
h2 {
  text-align: center;
}

#chart-frame {
  display: inline-flex;
  flex-direction: row;
  border: 3px solid;
  padding: 10px;
  position: relative;
}

#chart-frame p {
  display: inline-block;
  border: 3px solid blue;
  margin: 0.5em;
  margin-top: auto;
  text-align: center;
}
